# ignore molecule/testinfra pycache
**/__pycache__
.vscode
roles/ednz_cloud.*
molecule/**/k3s_secret.yml

tests/output

.ruff_cache

# ignore local ansible test files
.ansible
.env

# ignore gitlab-ci-local files
.gitlab-ci-local-variables.yml
