---
- name: "prerequisites | Ensure directory exists: {{ motd_directory_path }}"
  ansible.builtin.file:
    path: "{{ motd_directory_path }}"
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: "prerequisites | Ensure no other files are in motd"
  block:
    - name: "prerequisites | Collect files in motd dir"
      ansible.builtin.find:
        paths: "{{ motd_directory_path }}/"
        hidden: true
        recurse: true
        file_type: any
      register: _motd_collected_files

    - name: "prerequisites | Collect dir in motd dir"
      ansible.builtin.find:
        paths: "{{ motd_directory_path }}/"
        hidden: true
        recurse: true
        file_type: directory
      register: _motd_collected_directories

    - name: "prerequisites | Remove all unwanted files and directories"
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: absent
      loop: "{{ _motd_collected_files.files + _motd_collected_directories.files }}"
      when: (item.path|basename) not in motd_filenames

- name: "prerequisites | Remove /etc/motd file"
  ansible.builtin.file:
    path: "/etc/motd"
    state: absent
