---
- name: "vars | Load molecule state file"
  ansible.builtin.include_vars:
    file: "{{ lookup('env', 'MOLECULE_STATE_FILE') }}"
    name: molecule_state

- name: "vars | Set Molecule run UUID"
  ansible.builtin.set_fact:
    uuid: "{{ molecule_state.run_uuid }}"

- name: "vars | Set ssh key name"
  ansible.builtin.set_fact:
    key_name: "molecule-test-{{ uuid }}"

- name: "vars | Set local identity file"
  ansible.builtin.set_fact:
    identity_file: "{{ lookup('env', 'HOME') }}/.ansible/tmp/{{ key_name }}"
