---
# vars file for docker_systemd_service

# title: Systemd sysconfig directory
# required: false
# description-lines:
# Defines the directory where environment variable files for systemd are stored.
# Typically this is /etc/default on Debian-based systems.
docker_systemd_service_sysconf_dir: /etc/default

# title: Docker binary path
# required: false
# description-lines:
# Absolute path to the Docker CLI executable on the target system.
# Adjust if using a non-standard Docker installation.
docker_systemd_service_docker_path: "/usr/bin/docker"

# title: Default systemd unit options
# required: false
# description-lines:
# Dictionary of default options for the [Unit] section of the systemd unit file.
# Controls dependencies and ordering of the Docker container unit.
docker_systemd_service_systemd_unit_options_default:
  Requires: multi-user.target
  After: docker.service
  PartOf: docker.service

# title: Default systemd service options
# required: false
# description-lines:
# Dictionary of default options for the [Service] section of the systemd unit file.
# Includes the full `ExecStart` command that runs the container and other service behaviors.
# Most options should not be overridden unless you need specific behavior.
docker_systemd_service_systemd_service_options_default:
  EnvironmentFile: "{{ docker_systemd_service_sysconf_dir }}/{{ docker_systemd_service_name }}"
  ExecStartPre: "-{{ docker_systemd_service_docker_path }} rm -f {{ docker_systemd_service_container_name }}"
  ExecStart: |
    {{ docker_systemd_service_docker_path }} run --name {{ docker_systemd_service_container_name }} \
    --rm \
    --env-file {{ docker_systemd_service_sysconf_dir }}/{{ docker_systemd_service_name }} \
    {{
      (docker_systemd_service_flags
        | ednz_cloud.utils.to_cli_flags(multiline=true, trailing_backslash=true))
    -}}{% if docker_systemd_service_flags +%}
    {% endif %}{{ docker_systemd_service_image }}
    {%- if docker_systemd_service_container_cmd %} {{
      docker_systemd_service_container_cmd
        if docker_systemd_service_container_cmd is string
        else docker_systemd_service_container_cmd | join(" ")
    }}{% endif %}
  ExecStop: "{{ docker_systemd_service_docker_path }} stop {{ docker_systemd_service_container_name }}"
  ExecReload: "{{ docker_systemd_service_docker_path }} kill --signal=SIGHUP {{ docker_systemd_service_container_name }}"
  Restart: always
  RestartSec: 10s
  SyslogIdentifier: "{{ docker_systemd_service_container_name }}"

# title: Default systemd install options
# required: false
# description-lines:
# Dictionary of default entries for the [Install] section of the systemd unit file.
# Specifies the target under which the service should be enabled.
# For repeated options, the expected is a list of values (eg. WantedBy).
docker_systemd_service_systemd_install_options_default:
  WantedBy:
    - multi-user.target
