---
# task/main file for docker_systemd_service
- name: "Set reload-check & restart-check variable"
  ansible.builtin.set_fact:
    _docker_systemd_service_need_daemon_reload: false
    _docker_systemd_service_need_reload: false
    _docker_systemd_service_need_restart: false

- name: "Install systemd service"
  when:
    - docker_systemd_service_action == 'install'
  block:
    - name: "Import configure.yml"
      ansible.builtin.include_tasks: configure.yml

    - name: "Populate service facts"
      ansible.builtin.service_facts:

    - name: "Set restart-check variable"
      ansible.builtin.set_fact:
        _docker_systemd_service_need_restart: true
      when:
        - ansible_facts.services[docker_systemd_service_name~'.service'].state != 'running'

    - name: "Enable service: {{ docker_systemd_service_name }}"
      ansible.builtin.service:
        name: "{{ docker_systemd_service_name }}"
        enabled: true

    - name: "Reload systemd daemon"
      ansible.builtin.systemd:
        daemon_reload: true
      when: _docker_systemd_service_need_daemon_reload

    - name: "Start service: {{ docker_systemd_service_name }}"
      ansible.builtin.service:
        name: "{{ docker_systemd_service_name }}"
        state: restarted
      throttle: 1
      when:
        - _docker_systemd_service_need_restart
        - docker_systemd_service_start

    - name: "Reload service: {{ docker_systemd_service_name }}"
      ansible.builtin.service:
        name: "{{ docker_systemd_service_name }}"
        state: reloaded
      throttle: 1
      when:
        - docker_systemd_service_start
        - _docker_systemd_service_need_reload
        - not _docker_systemd_service_need_restart

- name: "Uninstall systemd service"
  when:
    - docker_systemd_service_action == 'uninstall'
  ansible.builtin.include_tasks: uninstall.yml
