[Unit]
{{ _docker_systemd_service_systemd_unit_options | ednz_cloud.utils.to_systemd_section }}

[Service]
{{ _docker_systemd_service_systemd_service_options | ednz_cloud.utils.to_systemd_section }}

[Install]
{{ _docker_systemd_service_systemd_install_options | ednz_cloud.utils.to_systemd_section }}
