[Unit]
{% for key, value in _docker_systemd_service_systemd_unit_options | dictsort %}
{% if value is sequence and value is not string %}
{% for item in value %}
{{ key }}={{ item }}
{% endfor %}
{% else %}
{{ key }}={{ value }}
{% endif %}
{% endfor %}

[Service]
{% for key, value in _docker_systemd_service_systemd_service_options | dictsort %}
{% if value is sequence and value is not string %}
{% for item in value %}
{{ key }}={{ item }}
{% endfor %}
{% else %}
{{ key }}={{ value }}
{% endif %}
{% endfor %}

[Install]
{% for key, value in _docker_systemd_service_systemd_install_options | dictsort %}
{% if value is sequence and value is not string %}
{% for item in value %}
{{ key }}={{ item }}
{% endfor %}
{% else %}
{{ key }}={{ value }}
{% endif %}
{% endfor %}
