---
# task/main file for dns
- name: "Ensure resolver is supported"
  ansible.builtin.assert:
    that:
      - dns_resolver_mode in dns_supported_resolvers
    fail_msg: >-
      DNS resolver not supported, please ensure
      dns_resolver_mode is one of {{ dns_supported_resolvers }}

- name: "Set reload-check & restart-check variable"
  ansible.builtin.set_fact:
    _dns_systemd_resolved_need_reload: false

- name: "Gather service facts"
  ansible.builtin.service_facts:
  when:
    - (ansible_facts.services | default({})) == {}

- name: "Include tasks for resolver: {{ dns_resolver_mode }}"
  ansible.builtin.include_tasks: "{{ dns_resolver_mode }}.yml"

- name: "Reload service: {{ dns_systemd_resolved_service }}"
  ansible.builtin.service:
    name: "{{ dns_systemd_resolved_service }}"
    state: restarted
  throttle: 1
  when:
    - _dns_systemd_resolved_need_reload
