---
- name: "main_repositories | Emtpy /etc/apt/sources.list"
  block:
    - name: "main_repositories | Read the current content of source.list"
      ansible.builtin.slurp:
        src: "{{ manage_repositories_sources_list_location }}"
      register: _manage_repositories_current_source_list
      ignore_errors: true

    - name: "main_repositories | Convert sources.list current content to string"
      ansible.builtin.set_fact:
        _manage_repositories_current_source_list_str: "{{ (_manage_repositories_current_source_list.content | default('')) | b64decode }}"

    - name: "main_repositories | Define sources.list new content"
      ansible.builtin.set_fact:
        _manage_repositories_new_source_list: "{{ manage_repositories_sources_list_message }}"

    - name: "main_repositories | Create file /etc/apt/sources.list"
      ansible.builtin.file:
        path: "{{ manage_repositories_sources_list_location }}"
        state: touch
        owner: root
        group: root
        mode: "0644"
      when: _manage_repositories_current_source_list_str == ''

    - name: "main_repositories | Replace content of /etc/apt/sources.list"
      ansible.builtin.replace:
        path: "{{ manage_repositories_sources_list_location }}"
        regexp: "{{ _manage_repositories_current_source_list_str | regex_escape }}"
        replace: "{{ _manage_repositories_new_source_list }}"
      when: _manage_repositories_current_source_list_str != _manage_repositories_new_source_list

- name: "main_repositories | Configure main repositories into sources.list.d for {{ ansible_distribution | lower }} "
  ansible.builtin.deb822_repository:
    name: "{{ item.name }}"
    types: "{{ item.types }}"
    uris: "{{ item.uri }}"
    suites: "{{ item.suites | join(' ') }}"
    components: "{{ item.components }}"
  loop: "{{ manage_repositories_default_repo }}"
  register: _manage_repositories_default_repos

- name: "main_repositories | Set cache-update variable"
  ansible.builtin.set_fact:
    _manage_repositories_need_cache_update: true
  when:
    - _manage_repositories_default_repos.changed # noqa: no-handler
